.redditPostContent ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}
.redditPostContent ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}
.redditPostContent li {
  margin-bottom: 0.25rem;
}
.redditPostContent p {
  margin-bottom: 0.5rem;
}
.redditPostContent {
  font-size: 0.9rem;
  line-height: 1.7;
}

.redditPostContent a {
  color: #5873a1;
}

.redditPostContent h1 {
  font-size: 17px;
  font-weight: bold;
  margin: 2px 0;
}

.reddit-flair-wrapper .flair-content {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.reddit-flair-wrapper span[style] {
  padding-left: 12px !important;
  padding-right: 12px !important;
  box-sizing: border-box;
}