@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Landing Page */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

.tweet-content {
    /* white-space: pre; */
}

.tweet-content img[alt][src*="twimg.com/emoji"] {
    width: 1.25em;
    height: 1.25em;
    display: inline;
    vertical-align: middle;
}

.tweet-content div {
    display: inline;
}

@keyframes toastEnter {
    0% {
        transform: translate(100%, 100%) scale(0.8);
        opacity: 0;
    }
    50% {
        transform: translate(-5%, -5%) scale(1.05);
        opacity: 0.8;
    }
    100% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}

@keyframes toastExit {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(100%, 100%) scale(0.8);
        opacity: 0;
    }
}

.animate-toast-enter {
    animation: toastEnter 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.animate-toast-exit {
    animation: toastExit 0.3s ease-in forwards;
}

/* Hide scrollbar for webkit browsers */
.scrollbar-hide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}